h1{
    font-size:30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
}
table, td, tr{
    border-collapse: collapse;
    border: 3px solid;
    margin-top:0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
}
.f1{
    background-color: violet;
}
.ff1{
    background-color: darkorchid;
}